[submodule "Plugins/CharacterLogic"]
	path = Plugins/CharacterLogic
	url = https://github.com/Bigbossbro08/CharacterLogic
[submodule "Plugins/TTToolbox"]
	path = Plugins/TTToolbox
	url = https://github.com/Bigbossbro08/TTToolbox
[submodule "Plugins/FlowGraph"]
	path = Plugins/FlowGraph
	url = https://github.com/Bigbossbro08/FlowGraph
[submodule "ProceduralHorse"]
	path = Plugins/ProceduralHorse
	url = https://github.com/Bigbossbro08/ProceduralHorse
